@model StudentManagmentHighSchool.Models.MarkList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarkList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admission.AdmissionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admission.AdmissionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semister)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarkListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
