@model IEnumerable<StudentManagmentHighSchool.Models.Admission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>No</th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmitionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Select((value, i) => new {i, value}))
    {
        <tr>
            @{ var i = item.i+1; }
            <td>@i</td>


            <td>
                @Html.DisplayFor(modelItem => item.value.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.AdmitionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.value.AdmissionId}) |
                @Html.ActionLink("Details", "Details", new {id = item.value.AdmissionId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.value.AdmissionId})
            </td>
        </tr>
    }

</table>